<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogLevel="Debug" internalLogFile="E:\.NETProjects\Algara\Algara.Web\logs\nlog-internal.log">

	<targets>
		<!-- Лог в текстов файл -->
		<target xsi:type="File" name="fileLog" fileName="logs/app.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}" />

		<!-- Лог в конзолата -->
		<target xsi:type="Console" name="consoleLog" layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLog,consoleLog" />
	</rules>
</nlog>